.App {
  text-align: center;
}

.App-header {
  background-color: #778191;
  /*min-height: 100vh;*/
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #ff0000;
  padding-left: 10px;
  margin-right: 5px;
  text-decoration: none;
}
